body {
    background: #fcf8ef;
    color: #414141;
    font-weight: 400;


}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-row {
    flex-direction: row;
    
}


.button {
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    text-align: center;
    
}
a {
    text-decoration: none;
}
 

.stock {
    &__button {
        color: #70C05B;
        border: 1px solid #70C05B;;
     }
}